@media (max-width: 375px) {

    html body {
        max-width: 375px;
        background-color: hsl(0, 0%, 100%);
        margin: 0;
    }

    .principal {
        max-width: 375px;

    }

    .cabecalho {
        text-align: center;
        max-width: 350px;

    }

    .cabecalho p {
        padding: 5px;
    }

    .preparo {
        max-width: 300px;

    }

    .ingredientes li {
        padding-right: 20px;
    }

    img {
        border: none;
        margin-top: 0;
        max-width: 375px;
        max-height: 250px;

    }

    hr {
        max-width: 330px;
    }

    table th,
    td {
        max-width: 100px;
    }

}